:root {
    --black: #000;
    --blue: #2196F3;
    --white: #fff;
    --grey: #757575;
    --primary-font: 'Roboto', sans-serif;
    --secondry-font: 'Verdana', sans-serif;
}


body {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.03em;
	color: var(--black);
	background-color: var(--white);
    margin: 0;
    }

    button {
        cursor: pointer;
    }
    
    ul {
        list-style-type:none;
    }
    h1,h2,h3,h4,h5,h6,p,ul{
        margin: 0;
        padding: 0;
    
    }
    a  {
        text-decoration: none;
        padding-left: 0;
        margin: 0;
    }
    .container{
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        
        
    }

img{
    display: block;
    margin: 0;
    padding: 0;
}
.navigation .current {
    color: var(--blue);
}
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--blue);
    display: block;
    margin-right: 93px;
    

}

.buttons-filter .current{
    color: var(--white);
    background: var(--blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}
.logo-s{
    color: var(--black);
}

.logo-s2{
    color: var(--white);
}

.navigation > li > a{
    color: var(--black);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    }

    .navigation > li > a:hover, 
    .navigation > li >  a:focus{
    color: var(--blue)  
    }

.navigation{
    display: flex;
}
.main-nav{
    display: flex;
    border-bottom: 1px solid transparent;
    
}
.nav{
    display: flex;
    align-items: center;
}
.navigation .item {
margin-right: 50px;
}

.navigation .item:last-child{
    margin-right: 0;
}

.contacts{
    display: flex;
    margin-left: auto;
}

.contacts .item + .item {
    margin-left: 50px;
}
.contacts > li > a {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;

    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

    color: var(--grey);
    }
 

.adress {
    line-height: 1.7; 
    color: var(--white);
}

.contacts > li > a:hover,
.contacts > li > a:focus {
    color: var(--blue)
}

header{
    background: var(--white);
}

/*__________________________HER0________________________________________ */
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section:nth-child(3){
    padding-top: 0px; 
}

.hero{
    background: #2F303A;
}

.hero-h1{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width:696px;
    color: var(--white);
    text-align: center;
    margin: 0px auto 40px auto;
}

.button-hero {
    display: block;
    color: var(--white);
    min-width: 200px;
    height: 50px;
    background: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border:none;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    white-space: nowrap;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white);


    }

.button-hero:hover,
.button-hero:focus {
    background: #188CE8;
}

/* Преимущества */
.benefits{
    display: flex;
    justify-content: space-around;
}


.benefits > li > h3  {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
    width: 270px;
}
.benefits > li > p {
    line-height: 1.7;
    color: var(--grey);
    width: 270px;
}

/*_--------------------------------- О НАС----------------------------------------------- */
.section-title {
    font-size: 36px;
    line-height: 1.16;
    color: #212121;
    text-align: center;
    margin-bottom: 50px;
}

.about{
    display: flex;
    justify-content: space-around;
}

/*-----------------------КОМАНДА----------------------- */
.team {
    background: #F5F4FA;
}
.team-card{
    display: flex;
    justify-content: space-around;
}

.team-card > li {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
}

.team-card > li > h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: #212121;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}


.team-card > li > p{
    font-size: 16px;
    line-height: 1.2;
    color: var(--grey);
    text-align: center;
    margin-bottom: 30px;
}

/* -----------------------------ФУТЕР--------------------------- */
#footer{
    background: #2F303A;
}

#footer .contacts{
    display: block;
}

.adress {
    font-weight: 400;
    line-height: 1.7;  
    color: var(--white);
    letter-spacing: 0.03em;
    font-style: normal;}

#footer .logo{
    margin-bottom: 20px;
} 
.footer-list > li> a{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
    margin-bottom: 9px;

    display: block;
}


.footer-list li:last-child a{
    margin-bottom: 0;
}

.footer-section{
    padding-top: 60px;
padding-bottom: 60px;
}

.buttons-filter > li > button{
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    margin-right: 8px;
    margin-bottom: 56px;
    padding: 6px 22px;
    
    
}
.buttons-filter li:last-child button{
    margin-right: 0;
}

.buttons-filter > li > button:hover,
.buttons-filter > li > button:focus{
    color: var(--white);
    background: var(--blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}

.buttons-filter{
    display: flex;
    justify-content: center;

}

.portfolio > li > a >div> h2{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}

.portfolio > li > a > div> p {
    font-size: 16px;
    line-height: 1.8;
    color: var(--grey);
    

}
.portfolio-border{
    border: 1px solid #EEEEEE;
    border-top: 0;
    padding: 20px 24px 20px 24px;
}

.portfolio >li{
    margin-bottom: 30px;
}
.portfolio >li:nth-last-child(-n+3){
    margin-bottom: 0;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}