.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: #2196F3;
}


.logo-s{
    color: #000;
}

.logo-s2{
    color: #FFF;
}

.navigation > li > a{
    color: #000;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    }

    .navigation > li > a:hover, 
    .navigation > li >  a:focus{
    color: #2196F3   
    }


.contacts > li > a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;

    color: #757575;
    }

.adress {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;   
    color: #FFFFFF;}

.contacts > li > a:hover,
.contacts > li > a:focus {
    color: #2196F3
}

header{
    background: #fff;
}

.hero{
    background: #2F303A;
}

.hero-h1{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.button-hero {
    
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    }

.button-hero:hover,
.button-hero:focus {
    background: #188CE8;
}

.button-text{
    font-weight: 700;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.block2 > li > h3  {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.block2 > li > p {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
    
}

.block-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
}

.team {
    background: #F5F4FA;
}

.team-card > li > h3 {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-card > li > p{
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #757575;
}

#footer{
    background: #2F303A;
}

.adress {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;   
    color: #FFFFFF;
    font-style: normal;}

.buttons-filter > li > button{
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
}

.buttons-filter > li > button:hover,
.buttons-filter > li > button:focus{
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}

a  {
    text-decoration: none;
}

.portfolio > li > a > h2{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio > li > p {
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: #757575;
}

button {
    cursor: pointer;
}

ul {
    list-style-type:none;
}